body{
    background-color: black;
}

%card{
    margin: 10px;
    font-family: Cambria, Cochin;
    background-color: gray;
    font-size: 20px;
}
.card-title{
    font-size: 30px;
}
.card{
    img{
        height: 300px;
        width: auto;
    }
}
.rcb{
    @extend %card;
    color: brown;
}

.csk{
    @extend %card;

    color: yellow;
}

.dc{
    @extend %card;

    color: white;
}
.kxip{
    @extend %card;

    color: rgb(245, 37, 82);
}
.kkr{
    @extend %card;
    color: violet;
}
.mi{
    @extend %card;

    color: rgb(80, 80, 173);
}
.rr{
    @extend %card;

    color: gold;
}